a {
	text-decoration: none;
	color: black;
}

.card {
	display: grid;
	place-content: center;
	box-sizing: border-box;
	border-radius: 10px;
	width: 100%;
	padding: 1em;
	background-color: lightgray;
	transition: background-color linear 0.15s;
}

.card img {
	object-fit: contain;
	max-height: 100px;
	width: 100%;
}

.card:hover {
	background-color: rgba(104, 186, 104, 0.8);
}

.card h3 {
	text-transform: capitalize;
	text-align: center;
}
