.button-group button {
	border-radius: 0px;
	border-left: none;
}

.button-group button:first-child {
	border-left: 1px solid grey;
	border-radius: 10px 0px 0px 10px;
}
.button-group button:last-child {
	border-left: none;
	border-radius: 0px 10px 10px 0px;
}
